.slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 362px;
  height: 415px;
  margin: 0 auto;
}

.slide {
  width: 362px;
  min-height: 415px;
  transition:
    transform 500ms ease 0s,
    opacity 500ms ease 0s,
    visibility 500ms ease 0s;
  position: absolute;
  top: 0;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 3D reflection effect */
.reflection {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: -60px;
  border-radius: 12px;
  transition:
    transform 500ms ease 0s,
    opacity 500ms ease 0s,
    visibility 500ms ease 0s;
}

.sliderContent {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 30px;
  align-items: flex-start;
  font-family:
    'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
    sans-serif;
}

.sliderContent h2 {
  margin: 16px 0;
  font-weight: bold;
  font-size: large;
}
.sliderContent p {
  margin: 0 0 16px 0;
}

/* body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: #111;
} */

/* .center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
} */

/* .btns {
  padding-top: 100px;
}

.btns .btn {
  cursor: pointer;
}

.btns .btn:last-child {
  margin-left: 40px;
} */
.btns {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* espace entre les deux boutons */
}

.btns .btn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: linear-gradient(145deg, #ffffff20, #00000020); /* dégradé translucide */
  backdrop-filter: blur(10px); /* effet verre dépoli */

  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.25),
    inset 0 1px 2px rgba(255, 255, 255, 0.2);

  cursor: pointer;
  transition: all 0.3s ease;
}

.btns .btn:hover {
  transform: translateY(-3px) scale(1.05);
  background: linear-gradient(145deg, #ffffff40, #00000030);
  box-shadow:
    0 6px 16px rgba(0, 0, 0, 0.4),
    inset 0 1px 3px rgba(255, 255, 255, 0.3);
}

/* normal css  */
.projectImage {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  /* border-radius: 8px; */
  margin-bottom: 12px;
}
.techStack {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tech {
  background: rgba(255, 255, 255, 0.2);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.links {
  margin-top: 15px;
  display: flex;
  gap: 12px;
}

.links a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 6px 12px;
  border: 1px solid white;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.links a:hover {
  background: white;
  color: #111;
}
