@import './tailwind.css';

html,
body,
#root {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
p {
  font-family: 'Montserrat', sans-serif;
}

.star-wars-container {
  overflow: hidden;
  height: 70vh; /* zone visible */
  position: relative;
  width: 100%;
}

.star-wars-text {
  animation: scrollUp 45s linear;
}

@keyframes scrollUp {
  0% {
    transform: translateY(80%); /* commence sous la zone visible */
  }
  100% {
    transform: translateY(-100%); /* fini au-dessus de la zone visible */
  }
}

h3 {
  background: linear-gradient(270deg, #ff6ec4, #7873f5, #4ade80);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Styles globaux pour light / dark mode */
body.light {
  background-color: #fcf1fd; /* ton fond clair existant */
  color: #000000; /* texte par défaut en clair */
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

body.dark {
  background-color: rgb(17 24 39 / var(--tw-bg-opacity, 1)); /* fond sombre */
  color: #ffffff; /* texte en clair */
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
